.functionTitle{
    font-size: 1.5em;
    margin: 0.5em 0;
    color: green;
}

.functionDescription{
    margin: 0.5em 0;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
}

.formula{
    font-family: "Courier New", Courier, monospace;
    background-color: #f0f0f0;
    padding: 0.5em;
    border-radius: 5px;
}